{"filesMd5":[{"android":"1.0.0","iOS":"1.0.0","page":"/pages/demo/index.js","md5":"75d2ad4e6a1df14707c1e9cd517e916c"},{"android":"1.0.0","iOS":"1.0.0","page":"/pages/home/index.js","md5":"63c69705bfe39b67ed8289cdf774db9b"},{"android":"1.0.0","iOS":"1.0.0","page":"/pages/home/tab1/index.js","md5":"2b1f218d0a99bbdf8fd8856cbd65d052"},{"android":"1.0.0","iOS":"1.0.0","page":"/pages/home/tab2/components/router/index.js","md5":"e96ff55e4577a6ae2700606f6048d17a"},{"android":"1.0.0","iOS":"1.0.0","page":"/pages/home/tab2/index.js","md5":"a708a14c57e54badaf84362097739baa"},{"android":"1.0.0","iOS":"1.0.0","page":"/pages/home/tab3/index.js","md5":"dbf34fb2317f5f1e5f17928b137ca63e"},{"android":"1.0.0","iOS":"1.0.0","page":"/iconfont/iconfont.ttf","md5":"ec86bfe5bdb872bad2b2af4f11da14f4"}],"android":"1.0.0","iOS":"1.0.0","appName":"bm-weex-fe","jsVersion":"fd3d828290189599fc71ca7b4c8838fb","timestamp":1503539872610,"jsPath":false}
