{"filesMd5":[{"android":"1.0.0","iOS":"1.0.0","page":"/pages/demo/index.js","md5":"5316a7ab8ee781e85eeddf59d82123f8"},{"android":"1.0.0","iOS":"1.0.0","page":"/pages/home/index.js","md5":"60fcf5e6486b2da85595cfc194ea257b"},{"android":"1.0.0","iOS":"1.0.0","page":"/pages/home/tab1/index.js","md5":"5e461c612ef7d77e6aa57f006fe954bd"},{"android":"1.0.0","iOS":"1.0.0","page":"/pages/home/tab2/components/router/index.js","md5":"9d6ca2e8d0881db83ecdea5a07c06065"},{"android":"1.0.0","iOS":"1.0.0","page":"/pages/home/tab2/index.js","md5":"34142d29083d43e5e550c197856c4561"},{"android":"1.0.0","iOS":"1.0.0","page":"/pages/home/tab3/index.js","md5":"5d403817737491cb2ba6617a7c1657ee"},{"android":"1.0.0","iOS":"1.0.0","page":"/iconfont/iconfont.ttf","md5":"fcfd6fc55b5308c896fadc1c08c4b1b0"}],"android":"1.0.0","iOS":"1.0.0","appName":"weex-eros-template","jsVersion":"321bfeb592101df73a585d6a94fa7c15","timestamp":1504508054646,"jsPath":false}
