{
    "plugins": [
        [
            "transform-runtime",
            "component",
            {
                "libraryName": "weex-ui",
                "libDir": "packages"
            }
        ]
    ],
    "presets": ["es2015", "stage-0"]
}